{% extends 'base.html.twig' %}

{% block title %}Edition de la catégorie "{{ category.name }}"{% endblock %}

{% block body %}
<h1>Editer la catégorie <strong>{{ category.name }}</strong></h1>

{{ form_start(formView)}}

{{ form_row(formView.name)}}

<button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Mettre à jour</button>


{{ form_end(formView)}}

{% endblock %}
